<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button class="add-button" mat-mini-fab color="primary" (click)="addOrg()"><mat-icon>add</mat-icon></button>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> شماره. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nameDa">
        <mat-header-cell *matHeaderCellDef> نام دری </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nameDa}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="nameEn">
        <mat-header-cell *matHeaderCellDef> نام انگلیسی</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nameEn}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="abrivation">
        <mat-header-cell *matHeaderCellDef> مخفف نام موسسه </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.abrivation}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="registerNo">
        <mat-header-cell *matHeaderCellDef> شماره راجستر </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.registerNo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registerDate">
        <mat-header-cell *matHeaderCellDef> تاریخ راجستر</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.registerDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contactNo">
        <mat-header-cell *matHeaderCellDef>شماره تماس</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.contactNo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> ایمل </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="organizationtype_id">
        <mat-header-cell *matHeaderCellDef>نوعیت موسسه</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.organizationtype_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="donner_id">
        <mat-header-cell *matHeaderCellDef>همایه گر</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donner_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="currentCashAmount">
        <mat-header-cell *matHeaderCellDef> مقدار پول</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.currentCashAmount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef> واحد پولی </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.currency}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>