:host > div{
  padding:10px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .add-button{
    position: absolute;
    left: 20px;
    top: 140px;
  }
  
  
  