
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 1</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 2</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 3</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 4</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 1</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 2</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 3</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>Chart 4</mat-card-header>
                    <mat-card-content></mat-card-content>
                </mat-card>
            </mat-grid-tile>

          </mat-grid-list>

</cdk-virtual-scroll-viewport>