.mat-form-field{
    width: 100%;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
.w49{
    width: 49%;
}
.w50{
    width: 100%;
}
.last-step{
    color: green;
}
.font{
    font-family: 'roboto-condensed', 'Microsoft Yahei';
    font-size: 11px !important;
    font-weight: normal;
    color: rgba(0,0,0,.54);
}